table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
}

#cards .player-card:first-child .card-body {
    text-align: right;
}

#button-container {
    display: flex;
    justify-content: space-between;
    width: 640px;
}

#button-container button {
    margin: 0 80px;
    max-width: 150px;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}